{{- /* See https://ogp.me for specification */ -}}

{{if .Repository}}
	<meta property="og:title" content="{{.Repository.Name}} - Forgejo: A Git Forge">
	<meta property="og:description" content="{{.Repository.Description}}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="multarix.com">
	<meta property="og:url" content="{{AppUrl}}{{.Link}}">
	<meta property="og:image" content="{{AssetUrlPrefix}}/img/logo.png">
{{else if .ContextUser}}
	<meta property="og:title" content="{{.ContextUser.Name}} - Forgejo: A Git Forge">
	<meta property="og:description" content="Repositories by {{.ContextUser.Name}}">
	<meta property="og:type" content="profile">
	<meta property="og:site_name" content="multarix.com">
	<meta property="og:url" content="{{AppUrl}}{{.Link}}">
	<meta property="og:image" content="{{AppUrl}}/avatars/{{.ContextUser.Avatar}}">
{{else}}
	<meta property="og:title" content="Forgejo: A Git Forge">
	<meta property="og:description" content="Beyond Coding. We Forge.">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="multarix.com">
	<meta property="og:url" content="{{AppUrl}}{{.Link}}">
	<meta property="og:image" content="{{AssetUrlPrefix}}/img/logo.png">
{{end}}
